{% extends 'base.html' %}

{% block title %}detail{% endblock title %}

{% block content %}

    <p><img src='{{photo.photo.url}}' style='width:100%;'></p>
    <button type='button' class='btn btn-outline-primary btn-sm'>{{photo.author.username}}</button>
    <p>{{photo.text|linebreaksbr}}</p>


    <a href="{% url 'photo:delete' photo.id %}" class='btn btn-outline-danger btn-sm float-right'>삭제</a>

    <a href="{% url 'photo:update' photo.id %}" class='btn btn-outline-success btn-sm float-right'>수정</a>


<form action="" method="POST">
{% csrf_token %}
    {{comment_form}}
    <input type="submit" value="Comment" class="btn btn-outline-primary">

</form>

<table class="table table-striped">
    {% for comment in comments %}
    <tr>
        <td>{{comment}}</td>
        <td></td>
        <td></td>
        <td><a href="{% url 'photo:commentupdate' comment.id %}">수정하기</a></td>
        <td><a href="{% url 'photo:commentdelete' comment.id %}">삭제하기</a></td>
    </tr>
    {% endfor %}
</table>





{% endblock content %}